.results__tickets {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    border: 1px solid #DFE5EC;
    border-radius: 5px;
    padding: 20px;

    .ticket {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ticket-price {
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                color: #2196F3;
            }
        }

        &-info {
            margin-right: 50px;
            display: flex;
            justify-content: space-between;

            .ticket-endpoint {
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;

                &__title {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #A0B0B9;
                }
            }
        }
    }
}